.sprite {
  background-image: url(~sprite-index.png);
  background-size: 147px 70px;
  background-repeat: no-repeat;
  display: block;
}
@mixin sprite($filename) {
  @if $filename == pay-yinlian {
    @extend .sprite;
    background-position: 0px 0px;
    height: 70px;
    width: 70px;
  }
  @if $filename == pay-zhifubao {
    @extend .sprite;
    background-position: -76px 0px;
    height: 69px;
    width: 71px;
  }
}
